@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model IEnumerable<AroundTown3.Models.Route>

<h2>Here is your list of Routes, @User.Identity.Name</h2>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listRoute in Model)
        {
            <li>@Html.DisplayFor(modelRoute => listRoute.Name)</li>
            @if (listRoute.LocationStart == null)
            {
                <p>@Html.ActionLink("Add your Start Location", "CreateLocationStart", new { id = listRoute.Id })</p>
            }
            else
            {
                <p>@Html.DisplayFor(modelRoute => listRoute.LocationStart)</p>
            }

            @if (listRoute.LocationEnd == null)
            {
                <p>@Html.ActionLink("Add your End Location", "CreateLocationEnd", new { id = listRoute.Id })</p>
            }
            else
            {
                <p>@Html.DisplayFor(modelRoute => listRoute.LocationEnd)</p>
            }
            <p>@Html.ActionLink("Details", "RouteDetails", new { id = listRoute.Id })</p>
        }
    </ul>
}
else
{
    <p>No routes have been added yet!</p>
}
@Html.ActionLink("Create new", "Create")
